body {
    font-family: 'Poppins';
    background-color: #202444;
}
.container {
    max-width: 1300px;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.grid {
    display: grid;
    grid-gap: 64px;
}

.grid-2-columns {
    grid-template-columns: 1fr 1fr;
}

.grid-3-columns-1-narrow {
    grid-template-columns: 1fr 2fr 2fr;
}

.grid-3-columns {
grid-template-columns: 1fr 1fr 1fr;
}

.card {
    background-color: white;
    margin: 30px 0;
}

.card-body {
    padding: 30px;
}
.btn {
    display: block;
    background-color: #202444;
    font-size: 14px;
    letter-spacing: 2px;
    color: white;
    padding: 16px;
text-align: center;
text-decoration: none;
}
.btn:hover {
    color:#202444;
    background-color: white;
    border: 1px;
    border-style: solid;
    border-color: #202444;
}

section {
    max-width: 100%;
    margin: 0 auto;
    padding: 100px;
}

section.secondary {
    background-color: rgb(188, 187, 187);
}

header {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0, 0, 0, 0.5)),
    url("../images/rome-header-photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: antiquewhite;
    text-align: center;
    padding: 160px 0;
}

header h1 {
    font-size: 90px;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
}
header h2 {
    line-height: 1;
    font-weight: 400;
    font-size: 40px;
}
header h3 {
    line-height: 1;
    font-weight: 800;
    font-size: 25px;
}
header a {
    color: #202444;
    text-align: center;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 3px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 32px;
    padding: 15px 35px;
    background-color:antiquewhite;
    border-radius: 6px;
}

main {
    background-color: white;
}

main h2 {
font-size: 15px;
font-weight: 700;
line-height: 1.5;
letter-spacing: 5px;
color: #202444;
opacity: 0.5;
margin: 0;
}

main h3 {
font-size: 30px;
font-weight: 700;
line-height: 1.5;
margin: 0;
}

main h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    margin: 0;
    }
    
main h5 {
    font-size: 13px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    }

main p {
font-size: 15px;
font-weight: 400;
line-height: normal;
opacity: 0.5;
}

header a:hover {
    color:antiquewhite;
    background-color: #202444;    
}


footer {
    color: white;
    background-image: linear-gradient(rgba(32,36,68,0.8), rgba(32,36,68,0.9)), url("../images/footer-photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
   
}

footer h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

footer p {
    font-weight: 400px;
    font-size: 15px;
    line-height: 20px;
    opacity: 0.6;
}

footer ul {
    padding: 0;
}

footer li {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer a {
    color: antiquewhite;
    opacity: 0.5;
    margin: 0;
    padding: 0;
}

@media (max-width: 920px) {
   header {
  padding: 55px 0;
}
header h1 {
    font-size: 48px;
}
header h2 {
    font-size: 20px;
}
header h3 {
    font-size: 12.5px;
}
header a {
    font-size: 10px;
    padding: 8px;
    letter-spacing: 0.5;
}
.grid {
    grid-template-columns: 1fr;
}
section {
    padding: 30px 10px;
    margin: 0;
}
.img-responsive {

    max-width: 50%;
}
}